<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ddmo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  <script>
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

   
    cons APP_ID = 219249642851133;  
    var senderID = "";
    
    window.extAsyncInit = function() {
        MessengerExtensions.getContext(APP_ID, 
          function success(thread_context){
           senderID = thread_context.psid;
          },
          function error(err){
            console.log(err);
          }
        );        
    };
  </script>
  
	<h1><%= title %></h1>

  <form id="form" enctype="multipart/form-data" method="post" action="https://bophyo.herokuapp.com/webview/">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
  </div> 
  <div class="form-group">
    <label for="phno">Phone Name</label>
    <input type="number" name="phnum" />
  </div>
  <div class="form-group">
  <label for="hobby"> Hobby & Interest </label> 

  <input type="checkbox" id="hobby1" class="checks" name="hobby1" value="Horror">
  <label for="vehicle1"> Horror </label><br>

  <input type="checkbox" id="hobby2" class="checks" name="hobby2" value="Romance">
  <label for="vehicle2"> Romance </label><br>

  <input type="checkbox" id="hobby3" name="hobby3" class="checks" value="Advanceture">
  <label for="vehicle3"> Advanceture </label><br><br>

  </div>

  <input type="hidden"  id="sender" name="sender" value="<%= sender_id %>">
  
  <input type="submit" value="Submit"> 
  </form>


	
  <script>
      
   
      const windowShut = () => {
        MessengerExtensions.requestCloseBrowser(function success() {
          console.log("success");          
        }, function error(err) {
          console.log(err);
        });
      }

     
       var result[];
       function getValue()
       {
        var checks = document.getElementsByClassName('checks');

         for(i=0;i<3;i++)
         {
          if(checks[i].checked === true)
          {
            result[i] = checks[i].value;
          } 
         }
       }

      
      document.getElementById("form").addEventListener("submit", windowShut);       

      /*
      const postFormData = (data) => {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "https://fbstarterbot.herokuapp.com/webview/", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(data)); 
      } */

     

  </script>

  </body>

</html>